*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(158, 24, 24);
}
.corpo{
    background-color: rgb(167, 30, 30);
}
.footer{
    background-color: rgb(167, 24, 24);
}