*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(167, 30, 30);
    padding: 50px;
}
.corpo{
    background-color: rgb(255, 255, 255);
}
.footer{
    background-color: rgb(167, 30, 30);
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 16, 236);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background-color: rgb(255, 255, 255);
}
.boton:active{
    font-size: 20px;
}